# Flight data analysis

In [4]:
%%html
<style>
table {float:left}
</style>

In [5]:
%%html
<style>
div.output_area pre {
    white-space: pre;
}
</style>

In [18]:
import os
import sys
import gc
from datetime import (
    datetime,
    date
)
import numpy as np
import pandas as pd

#  Environemnt Variables

## Hadoop

In [7]:
os.environ['HADOOP_CONF_DIR'] = "/opt/hadoop/hadoop-3.2.2/etc/hadoop"

In [8]:
%%bash
export HADOOP_CONF_DIR="/opt/hadoop/hadoop-3.2.2/etc/hadoop"
ls $HADOOP_CONF_DIR | head -n 5

capacity-scheduler.xml
configuration.xsl
container-executor.cfg
core-site.xml
core-site.xml.48132.2022-02-15@12:29:41~

## PYTHONPATH

Refer to the **pyspark** modules to load from the ```$SPARK_HOME/python/lib``` in the Spark installation.

* [PySpark Getting Started](https://spark.apache.org/docs/latest/api/python/getting_started/install.html)

> Ensure the SPARK_HOME environment variable points to the directory where the tar file has been extracted. Update PYTHONPATH environment variable such that it can find the PySpark and Py4J under SPARK_HOME/python/lib. One example of doing this is shown below:

```
export PYTHONPATH=$(ZIPS=("$SPARK_HOME"/python/lib/*.zip); IFS=:; echo "${ZIPS[*]}"):$PYTHONPATH
```

Alternatively install **pyspark** with pip or conda locally which installs the Spark runtime libararies (for standalone).

* [Can PySpark work without Spark?](https://stackoverflow.com/questions/51728177/can-pyspark-work-without-spark)

> As of v2.2, executing pip install pyspark will install Spark. If you're going to use Pyspark it's clearly the simplest way to get started. On my system Spark is installed inside my virtual environment (miniconda) at lib/python3.6/site-packages/pyspark/jars  
> PySpark has a Spark installation installed. If installed through pip3, you can find it with pip3 show pyspark. Ex. for me it is at ~/.local/lib/python3.8/site-packages/pyspark. This is a standalone configuration so it can't be used for managing clusters like a full Spark installation.

In [9]:
# os.environ['PYTHONPATH'] = "/opt/spark/spark-3.1.2/python/lib/py4j-0.10.9-src.zip:/opt/spark/spark-3.1.2/python/lib/pyspark.zip"
sys.path.extend([
    "/opt/spark/spark-3.1.2/python/lib/py4j-0.10.9-src.zip",
    "/opt/spark/spark-3.1.2/python/lib/pyspark.zip"
])

## PySpark package imports

Execute after the PYTHONPATH setup.

In [91]:
import pyspark.sql 
from pyspark.sql.types import *
from pyspark.sql.functions import (
    col,
    when,
    lit,
    avg,
    stddev,
    isnan,
    date_format,
    to_date,
    months_between,
    add_months,
    lower,
    upper,
)

---
# Spark Session

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder\
    .master('yarn') \
    .config('spark.submit.deployMode', 'client') \
    .config('spark.debug.maxToStringFields', 100) \
    .config('spark.executor.memory', '2g') \
    .getOrCreate()

2022-02-22 08:45:19,116 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2022-02-22 08:45:24,856 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [13]:
NUM_CORES = 4
NUM_PARTITIONS = 3

spark.conf.set("spark.sql.shuffle.partitions", NUM_CORES * NUM_PARTITIONS)
spark.conf.set("spark.default.parallelism", NUM_CORES * NUM_PARTITIONS)
spark.conf.set('spark.sql.legacy.timeParserPolicy', 'LEGACY')

# DataFrame from Python data

* [SparkSession.createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True)](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.SparkSession.createDataFrame.html)

# Schema Definition

* [Data Types](https://spark.apache.org/docs/latest/sql-ref-datatypes.html#data-types)

```from pyspark.sql.types import *```

| Data type | Value type in Python | API to access or create a data type |  |
|:---|:---|:---|:--|
|ByteType | int or long Note: Numbers will be converted to 1-byte signed integer numbers at runtime. Please make sure that numbers are within the range of -128 to 127. | ByteType() |  |
| ShortType | int or long Note: Numbers will be converted to 2-byte signed integer numbers at runtime. Please make sure that numbers are within the range of -32768 to 32767. | ShortType() |  |
| IntegerType | int or long | IntegerType() |  |
| LongType | long Note: Numbers will be converted to 8-byte signed integer numbers at runtime. Please make sure that numbers are within the range of -9223372036854775808 to 9223372036854775807.Otherwise, please convert data to decimal.Decimal and use DecimalType. | LongType() |  |
| FloatType | float Note: Numbers will be converted to 4-byte single-precision floating point numbers at runtime. | FloatType() |  |
| DoubleType | float | DoubleType() |  |
| DecimalType | decimal.Decimal | DecimalType() |  |
| StringType | string | StringType() |  |
| BinaryType | bytearray | BinaryType() |  |
| BooleanType | bool | BooleanType() |  |
| TimestampType | datetime.datetime | TimestampType() |  |
| DateType | datetime.date | DateType() |  |
| ArrayType | list, tuple, or array | ArrayType(elementType, [containsNull]) Note:The default value of containsNull is True. |  |
| MapType | dict | MapType(keyType, valueType, [valueContainsNull]) Note:The default value of valueContainsNull is True. |  |
| StructType | list or tuple | StructType(fields) Note: fields is a Seq of StructFields. Also, two fields with the same name are not allowed. |  |
| StructField | The value type in Python of the data type of this field (For example, Int for a StructField with the data type IntegerType) | StructField(name, dataType, [nullable]) Note: The default value of nullable is True. |  |

# Data

In [15]:
%%bash
hdfs dfs -mkdir -p flight
hdfs dfs -put -f ./data/flight/*.csv flight/

In [100]:
flight = spark.read\
    .option("compression", "none")\
    .option("header", True)\
    .option("sep", ',')\
    .option("nullValue", np.nan)\
    .option("inferSchema", True)\
    .option("dateFormat", "yyyy-MM-dd")\
    .csv("flight/flightData.csv")\
    .withColumn("date", to_date(col("date"), "yyyy-MM-dd"))\
    .withColumn(
        "direction", 
        when(lower(col("from")) == "uk", 1)
        .when(lower(col("to"))   == "uk", -1)
        .otherwise(0)
    )

flight.printSchema()
flight.createOrReplaceTempView("flight")
flight.show(5, truncate=False)

root
 |-- passengerId: integer (nullable = true)
 |-- flightId: integer (nullable = true)
 |-- from: string (nullable = true)
 |-- to: string (nullable = true)
 |-- date: date (nullable = true)
 |-- direction: integer (nullable = false)

+-----------+--------+----+---+----------+---------+
|passengerId|flightId|from|to |date      |direction|
+-----------+--------+----+---+----------+---------+
|48         |0       |cg  |ir |2017-01-01|0        |
|94         |0       |cg  |ir |2017-01-01|0        |
|82         |0       |cg  |ir |2017-01-01|0        |
|21         |0       |cg  |ir |2017-01-01|0        |
|51         |0       |cg  |ir |2017-01-01|0        |
+-----------+--------+----+---+----------+---------+
only showing top 5 rows

In [99]:
flight.where(col("direction") == -1).limit(5).show()

+-----------+--------+----+---+----------+---------+
|passengerId|flightId|from| to|      date|direction|
+-----------+--------+----+---+----------+---------+
|        382|      18|  jo| uk|2017-01-04|       -1|
|        385|      18|  jo| uk|2017-01-04|       -1|
|       1001|      18|  jo| uk|2017-01-04|       -1|
|       1025|      18|  jo| uk|2017-01-04|       -1|
|        378|      18|  jo| uk|2017-01-04|       -1|
+-----------+--------+----+---+----------+---------+

In [81]:
passenger = spark.read\
    .option("compression", "none")\
    .option("header", True)\
    .option("sep", ',')\
    .option("nullValue", np.nan)\
    .option("inferSchema", True)\
    .csv("flight/passengers.csv")

passenger.printSchema()
passenger.createOrReplaceTempView("passenger")
passenger.show()

root
 |-- passengerId: integer (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)

+-----------+---------+--------+
|passengerId|firstName|lastName|
+-----------+---------+--------+
|      14751| Napoleon| Gaylene|
|       2359| Katherin| Shanell|
|       5872|   Stevie|  Steven|
|       3346|Margarita|   Gerri|
|       3704|    Earle|  Candis|
|       1226|    Trent|    Omer|
|       2677|    Janee|  Lillia|
|        179|     Gita|Chastity|
|       9763|   Hilton|Jaquelyn|
|      11414|      Leo|Margaret|
|       6870|     Tama|     Bok|
|       3290|    Logan|    Anya|
|      13264|   Lowell|Kathryne|
|        455|  Maritza|  Maxima|
|      13006|     Yuri|   Joyce|
|      10323|  Latasha|  Estell|
|       7376|   Kaycee|Kiersten|
|      15015|   Curtis| Abraham|
|       9217|   Verena|Josefine|
|       5183|     Loan| Latonya|
+-----------+---------+--------+
only showing top 20 rows

# Number of flights per month

## Number of months betwen dates

* [pyspark.sql.functions.months_between(date1, date2, roundOff=True)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.months_between.html)

> Returns number of months between dates date1 and date2.

In [41]:
query = """
SELECT
    date,
    MIN(date) OVER (ORDER BY date) AS base_date,
    FLOOR(months_between(date, (SELECT MIN(date) FROM flight))) AS month_index
FROM
    flight
ORDER BY 
    passengerID, 
    month_index
"""
spark.sql(query).show(10)

2022-02-22 09:25:44,884 WARN window.WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+----------+-----------+
|      date| base_date|month_index|
+----------+----------+-----------+
|2017-01-01|2017-01-01|          0|
|2017-11-29|2017-01-01|         10|
|2017-12-12|2017-01-01|         11|
|2017-12-22|2017-01-01|         11|
|2017-12-29|2017-01-01|         11|
|2017-01-01|2017-01-01|          0|
|2017-01-01|2017-01-01|          0|
|2017-01-10|2017-01-01|          0|
|2017-02-06|2017-01-01|          1|
|2017-03-05|2017-01-01|          2|
+----------+----------+-----------+
only showing top 10 rows

## Month +N

* [pyspark.sql.functions.add_months(start, months)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.add_months.html)

> Returns the date that is months months after start

In [72]:
N = 3
query = """
SELECT
    date_format(
        add_months(to_date("2017-01-01", "yyyy-MM-dd"), {}),
        "yyyy-MM"
    ) as plus_n_month
FROM
    flight
""".format(N)
spark.sql(query).show(10)

+------------+
|plus_n_month|
+------------+
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
|     2017-04|
+------------+
only showing top 10 rows

## (flight, month) pairs to group by

In [59]:
query = """
WITH month_indexed AS (
    SELECT DISTINCT
        flightId,
        date,
        FLOOR(months_between(date, (SELECT MIN(date) FROM flight))) AS month_index
    FROM
        flight
)
SELECT 
    *
FROM
    month_indexed
ORDER BY
    date,
    flightId
"""
spark.sql(query).show()

+--------+----------+-----------+
|flightId|      date|month_index|
+--------+----------+-----------+
|       0|2017-01-01|          0|
|       1|2017-01-01|          0|
|       2|2017-01-01|          0|
|       3|2017-01-01|          0|
|       4|2017-01-01|          0|
|       5|2017-01-02|          0|
|       6|2017-01-02|          0|
|       7|2017-01-02|          0|
|       8|2017-01-02|          0|
|       9|2017-01-02|          0|
|      10|2017-01-02|          0|
|      11|2017-01-03|          0|
|      12|2017-01-03|          0|
|      13|2017-01-03|          0|
|      14|2017-01-03|          0|
|      15|2017-01-03|          0|
|      16|2017-01-04|          0|
|      17|2017-01-04|          0|
|      18|2017-01-04|          0|
|      19|2017-01-05|          0|
+--------+----------+-----------+
only showing top 20 rows

## Flights per month as GROUP BY month_index

In [74]:
query = """
WITH month_indexed AS (
    SELECT DISTINCT
        flightId,
        FLOOR(months_between(date, (SELECT MIN(date) FROM flight))) AS month_index
    FROM
        flight
)
SELECT 
    month_index,
    date_format(
        add_months(to_date("2017-01-01", "yyyy-MM-dd"), month_index),
        "yyyy-MM"
    ) as month,
    count(flightId) as number_of_flights
FROM
    month_indexed
GROUP BY 
    month_index
ORDER BY
    month_index
"""
spark.sql(query).show()
spark.sql(query).explain(mode="formatted")

+-----------+-------+-----------------+
|month_index|  month|number_of_flights|
+-----------+-------+-----------------+
|          0|2017-01|               97|
|          1|2017-02|               73|
|          2|2017-03|               82|
|          3|2017-04|               92|
|          4|2017-05|               92|
|          5|2017-06|               71|
|          6|2017-07|               87|
|          7|2017-08|               76|
|          8|2017-09|               85|
|          9|2017-10|               76|
|         10|2017-11|               75|
|         11|2017-12|               94|
+-----------+-------+-----------------+

== Physical Plan ==
* Sort (10)
+- Exchange (9)
   +- * HashAggregate (8)
      +- Exchange (7)
         +- * HashAggregate (6)
            +- * HashAggregate (5)
               +- Exchange (4)
                  +- * HashAggregate (3)
                     +- * Project (2)
                        +- Scan csv  (1)


(1) Scan csv
Output [2]: [flightId#174, date#177]
Batched: false
Location: InMemoryFileIndex [hdfs://ubuntu:8020/user/oonisim/flight/flightData.csv]
ReadSchema: struct<flightId:int,date:string>

(2) Project [codegen id : 1]
Output [2]: [flightId#174, FLOOR(months_between(cast(cast(gettimestamp(date#177, yyyy-MM-dd, Some(Australia/Sydney), false) as date) as timestamp), cast(Subquery scalar-subquery#895, [id=#1548] as timestamp), true, Some(Australia/Sydney))) AS month_index#896L]
Input [2]: [flightId#174, date#177]

(3) HashAggregate [codegen id : 1]
Input [2]: [flightId#174, month_index#896L]
Keys [2]: [flightId#174, month_index#896L]
Functions: []
Aggregate Attributes: []
Results [2]: [flightId#174, month_index#896L]

(4) Exchange
Input [2]: [flightId#174, month_index#896L]
Arguments: hashpartitioning(flightId#174, month_index#896L, 12), ENSURE_REQUIREMENTS, [id=#1568]

(5) HashAggregate [codegen id : 2]
Input [2]: [flightId#174, month_index#896L]
Keys [2]: [flightId#174, month_index#896L]
Functions: []
Aggregate Attributes: []
Results [2]: [flightId#174, month_index#896L]

(6) HashAggregate [codegen id : 2]
Input [2]: [flightId#174, month_index#896L]
Keys [1]: [month_index#896L]
Functions [1]: [partial_count(flightId#174)]
Aggregate Attributes [1]: [count#903L]
Results [2]: [month_index#896L, count#904L]

(7) Exchange
Input [2]: [month_index#896L, count#904L]
Arguments: hashpartitioning(month_index#896L, 12), ENSURE_REQUIREMENTS, [id=#1573]

(8) HashAggregate [codegen id : 3]
Input [2]: [month_index#896L, count#904L]
Keys [1]: [month_index#896L]
Functions [1]: [count(flightId#174)]
Aggregate Attributes [1]: [count(flightId#174)#899L]
Results [3]: [month_index#896L, date_format(cast(add_months(17167, cast(month_index#896L as int)) as timestamp), yyyy-MM, Some(Australia/Sydney)) AS month#893, count(flightId#174)#899L AS number_of_flights#894L]

(9) Exchange
Input [3]: [month_index#896L, month#893, number_of_flights#894L]
Arguments: rangepartitioning(month_index#896L ASC NULLS FIRST, 12), ENSURE_REQUIREMENTS, [id=#1577]

(10) Sort [codegen id : 4]
Input [3]: [month_index#896L, month#893, number_of_flights#894L]
Arguments: [month_index#896L ASC NULLS FIRST], true, 0

===== Subqueries =====

Subquery:1 Hosting operator id = 2 Hosting Expression = Subquery scalar-subquery#895, [id=#1548]
* HashAggregate (15)
+- Exchange (14)
   +- * HashAggregate (13)
      +- * Project (12)
         +- Scan csv  (11)


(11) Scan csv
Output [1]: [date#177]
Batched: false
Location: InMemoryFileIndex [hdfs://ubuntu:8020/user/oonisim/flight/flightData.csv]
ReadSchema: struct<date:string>

(12) Project [codegen id : 1]
Output [1]: [cast(gettimestamp(date#177, yyyy-MM-dd, Some(Australia/Sydney), false) as date) AS date#183]
Input [1]: [date#177]

(13) HashAggregate [codegen id : 1]
Input [1]: [date#183]
Keys: []
Functions [1]: [partial_min(date#183)]
Aggregate Attributes [1]: [min#905]
Results [1]: [min#906]

(14) Exchange
Input [1]: [min#906]
Arguments: SinglePartition, ENSURE_REQUIREMENTS, [id=#1544]

(15) HashAggregate [codegen id : 2]
Input [1]: [min#906]
Keys: []
Functions [1]: [min(date#183)]
Aggregate Attributes [1]: [min(date#183)#897]
Results [1]: [min(date#183)#897 AS min(date)#898]

---
# Frequent Flyers

Find the names of the 10 most frequent flyers.

In [85]:
query = """
SELECT
    f.passengerId,
    COUNT(*) number_of_flights
FROM
    flight f
GROUP BY 
    f.passengerId
ORDER BY
    number_of_flights DESC
LIMIT 10
"""
spark.sql(query).show()
spark.sql(query).explain(True)

+-----------+-----------------+
|passengerId|number_of_flights|
+-----------+-----------------+
|       2068|               32|
|       4827|               27|
|       1677|               27|
|       3173|               26|
|       8961|               26|
|       6084|               25|
|       5867|               25|
|        760|               25|
|       5096|               25|
|        288|               25|
+-----------+-----------------+

== Parsed Logical Plan ==
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Sort ['number_of_flights DESC NULLS LAST], true
      +- 'Aggregate ['f.passengerId], ['f.passengerId, 'COUNT(1) AS number_of_flights#1091]
         +- 'SubqueryAlias f
            +- 'UnresolvedRelation [flight], [], false

== Analyzed Logical Plan ==
passengerId: int, number_of_flights: bigint
GlobalLimit 10
+- LocalLimit 10
   +- Sort [number_of_flights#1091L DESC NULLS LAST], true
      +- Aggregate [passengerId#173], [passengerId#173, count(1) AS number_of_flights#1091L]
         +- SubqueryAlias f
            +- SubqueryAlias flight
               +- Project [passengerId#173, flightId#174, from#175, to#176, to_date('date, Some(yyyy-MM-dd)) AS date#183]
                  +- Relation[passengerId#173,flightId#174,from#175,to#176,date#177] csv

== Optimized Logical Plan ==
GlobalLimit 10
+- LocalLimit 10
   +- Sort [number_of_flights#1091L DESC NULLS LAST], true
      +- Aggregate [passengerId#173], [passengerId#173, count(1) AS number_of_flights#1091L]
         +- Project [passengerId#173]
            +- Relation[passengerId#173,flightId#174,from#175,to#176,date#177] csv

== Physical Plan ==
TakeOrderedAndProject(limit=10, orderBy=[number_of_flights#1091L DESC NULLS LAST], output=[passengerId#173,number_of_flights#1091L])
+- *(2) HashAggregate(keys=[passengerId#173], functions=[count(1)], output=[passengerId#173, number_of_flights#1091L])
   +- Exchange hashpartitioning(passengerId#173, 12), ENSURE_REQUIREMENTS, [id=#1947]
      +- *(1) HashAggregate(keys=[passengerId#173], functions=[partial_count(1)], output=[passengerId#173, count#1097L])
         +- FileScan csv [passengerId#173] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[hdfs://ubuntu:8020/user/oonisim/flight/flightData.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<passengerId:int>

---
# Longest run

---
# Stop Spark Session

In [101]:
spark.stop()



# Cleanup

In [102]:
del spark
gc.collect()

2109